<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PurchaseMapper">
    <resultMap id="purchase" type="com.example.bean.PurchaseOrder">
        <result column="purchase_code" property="purchaseCode"/>
        <result column="create_date" property="createDate"/>
        <result column="create_by" property="createBy"/>
        <result column="total_price" property="totalPrice"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <collection property="purchaseOrderItems" ofType="com.example.bean.PurchaseOrderItem">
            <id column="purchase_order_id" property="purchaseItemId"/>
            <result column="purchase_code" property="purchaseCode"/>
            <result column="supplier_code" property="supplierCode"/>
            <result column="product_code" property="productCode"/>
            <result column="i_total_price" property="totalPrice"/>
            <result column="NUMS" property="nums" jdbcType="INTEGER"/>
            <association property="product" javaType="com.example.bean.Product" resultMap="productMap"/>
        </collection>
    </resultMap>
    
    <resultMap id="productMap" type="com.example.bean.Product">
        <id column="product_code" property="productCode"/>
        <result column="product_name" property="productName"/>
        <result column="product_category" property="productCategory"/>
        <result column="spec_type" property="specType"/>
        <result column="UNIT" property="unit" jdbcType="VARCHAR"/>
        <result column="PRICE" property="price" jdbcType="DECIMAL"/>
        <association property="supplier" javaType="com.example.bean.Supplier">
            <id column="supplier_code" property="supplierCode"/>
            <result column="supplier_name" property="supplierName"/>
            <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
            <result column="CONACTOR" property="conactor" jdbcType="VARCHAR"/>
            <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    
    <select id="getPurchaseOrderById" resultMap="purchase">
        select o.purchase_code,o.create_date,o.create_by,o.total_price,o.REMARK,
               i.purchase_order_id,i.supplier_code,i.product_code,i.total_price as i_total_price,i.NUMS,
               p.product_name,p.product_category,p.spec_type,p.unit,p.price,
               s.supplier_name,s.address,s.conactor,s.phone
        from demo_b_purchaseorder o
            left join demo_b_purchaseorderitem i on i.purchase_code = o.purchase_code
                left join demo_c_product p on p.PRODUCT_CODE = i.PRODUCT_CODE
                    left join demo_c_supplier s on s.SUPPLIER_CODE = p.SUPPLIER_CODE
        where o.purchase_code = #{purchase_code}
    </select>

<!--    pagehelper 分页查询-->
    <select id="getPurchaseOrdersByCreate" resultType="com.example.bean.PurchaseOrder">
        select purchase_code as purchaseCode,create_date as createDate,create_by as createBy,total_price as totalPrice, REMARK as remark
        from demo_b_purchaseorder
        where create_by = #{createName}
        limit #{pageNum},#{pageSize}
    </select>

    <select id="getTotalNum" resultType="integer">
        select count(*) from demo_b_purchaseorder
        where create_by = #{createName}
    </select>

    <insert id="insertPurchaseOrder" parameterType="com.example.bean.PurchaseOrder">
        insert into demo_b_purchaseorder (purchase_code,create_date,create_by,total_price,remark)
        values (#{purchaseCode},#{createDate},#{createBy},#{totalPrice},#{remark})
    </insert>

    <update id="updatePurchaseOrder" parameterType="com.example.bean.PurchaseOrder">
        update demo_b_purchaseorder set total_price = #{totalPrice},remark = #{remark}
        where purchase_code = #{purchaseCode}
    </update>

    <delete id="deletePurchaseById">
        delete from demo_b_purchaseorder
        where purchase_code = #{purchaseCode}
    </delete>
</mapper>